.navbar-container{
    padding: 15px 0;
    background: #b6aa3c;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(5, 3, 40);
    margin-bottom: 20px;
    font-size: 18px;
    
}
.connect-button{
    margin: 10px;
    cursor:pointer;   
}
.connect-span{
    position: absolute;
    right: 6px;
    top: 4px;   
    padding: 8px 5px;
    border-radius: 3px;
    border: 2px solid #101920;
}