.upload-data-container{
    margin: 20px;
}
.file-label{
    cursor: pointer;
    /* background-color: rgb(197, 43, 197); */
    border: 2px solid #B6AA3C;
    border-radius: 4px;
    color: white;
    padding: 6px 16px;
    transition: background-color 0.6s ease;
    margin-bottom: 10px;
}
.file-label:hover{
    background-color: #d2c75d;
    transition-delay: 0.1s;
}

.upload-button{
    margin: 20px 10px;
    padding: 10px;
    cursor: pointer;
    color: blue
}
.spn{
    color: white;
    text-decoration: underline;
}